USE [master]
GO
/****** Object:  Database [TP4_TAVERA_2A]    Script Date: 6/19/2022 8:21:47 PM ******/
CREATE DATABASE [TP4_TAVERA_2A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_TAVERA_2A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_TAVERA_2A.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_TAVERA_2A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_TAVERA_2A_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_TAVERA_2A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_TAVERA_2A]
GO
/****** Object:  Table [dbo].[areas]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas](
	[ID_AREA] [int] NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_areas] PRIMARY KEY CLUSTERED 
(
	[ID_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[ID_CATEGORIA] [int] NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deportes]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deportes](
	[ID_DEPORTE] [int] NOT NULL,
	[DESCRIPCION] [varchar](25) NOT NULL,
 CONSTRAINT [PK_deportes] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deportivos_equipos]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deportivos_equipos](
	[ID_DEPORTIVO] [int] NOT NULL,
	[ID_EQUIPO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleadosDeportivos]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleadosDeportivos](
	[ID_DEPORTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [datetime] NOT NULL,
 CONSTRAINT [PK_empleadosDeportivos] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleadosOperativos]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleadosOperativos](
	[ID_OPERATIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[AREA] [int] NOT NULL,
 CONSTRAINT [PK_empleadosOperativos] PRIMARY KEY CLUSTERED 
(
	[ID_OPERATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipos]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos](
	[ID_EQUIPO] [int] NOT NULL,
	[DEPORTE] [int] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[SEXO] [char](1) NOT NULL,
 CONSTRAINT [PK_equipos] PRIMARY KEY CLUSTERED 
(
	[ID_EQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[federados]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[federados](
	[ID_FEDERADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [datetime] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[DEUDA] [int] NOT NULL,
 CONSTRAINT [PK_federadxs] PRIMARY KEY CLUSTERED 
(
	[ID_FEDERADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[federados_deportes]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[federados_deportes](
	[ID_FEDERADO] [int] NOT NULL,
	[ID_DEPORTE] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sexos]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexos](
	[ID_CHAR] [char](1) NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
 CONSTRAINT [PK_sexos] PRIMARY KEY CLUSTERED 
(
	[ID_CHAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socios]    Script Date: 6/19/2022 8:21:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios](
	[ID_SOCIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [datetime] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[DEUDA] [int] NOT NULL,
 CONSTRAINT [PK_socias] PRIMARY KEY CLUSTERED 
(
	[ID_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[areas] ([ID_AREA], [DESCRIPCION]) VALUES (1, N'administrativo')
INSERT [dbo].[areas] ([ID_AREA], [DESCRIPCION]) VALUES (2, N'ordenanza')
GO
INSERT [dbo].[categorias] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (1, N'menores')
INSERT [dbo].[categorias] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (2, N'juveniles')
INSERT [dbo].[categorias] ([ID_CATEGORIA], [DESCRIPCION]) VALUES (3, N'mayores')
GO
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'handball')
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'basket')
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'futbol')
GO
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (1, 2)
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (1, 14)
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[empleadosDeportivos] ON 

INSERT [dbo].[empleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (1, N'Rosa', N'Miriams', N'f', CAST(N'1960-05-10T00:00:00.000' AS DateTime))
INSERT [dbo].[empleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (2, N'Jose', N'Mexon', N'm', CAST(N'1985-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[empleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (3, N'Mariana', N'Grandene', N'f', CAST(N'1975-06-24T17:26:04.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[empleadosDeportivos] OFF
GO
SET IDENTITY_INSERT [dbo].[empleadosOperativos] ON 

INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (1, N'Primo', N'Imsa', N'm', CAST(N'1965-05-05' AS Date), 1)
INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (2, N'Romina', N'Belta', N'f', CAST(N'1980-01-09' AS Date), 1)
INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (3, N'Miguel', N'Laurente', N'm', CAST(N'1964-06-19' AS Date), 2)
SET IDENTITY_INSERT [dbo].[empleadosOperativos] OFF
GO
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO]) VALUES (1, 1, 1, N'f')
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO]) VALUES (2, 2, 1, N'f')
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO]) VALUES (3, 3, 1, N'f')
GO
SET IDENTITY_INSERT [dbo].[federados] ON 

INSERT [dbo].[federados] ([ID_FEDERADO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (1, N'Camila', N'Vazquezs', N'f', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 2, 9800)
SET IDENTITY_INSERT [dbo].[federados] OFF
GO
INSERT [dbo].[federados_deportes] ([ID_FEDERADO], [ID_DEPORTE]) VALUES (1, 2)
INSERT [dbo].[federados_deportes] ([ID_FEDERADO], [ID_DEPORTE]) VALUES (1, 1)
GO
INSERT [dbo].[sexos] ([ID_CHAR], [DESCRIPCION]) VALUES (N'f', N'femenino')
INSERT [dbo].[sexos] ([ID_CHAR], [DESCRIPCION]) VALUES (N'm', N'masculino')
GO
SET IDENTITY_INSERT [dbo].[socios] ON 

INSERT [dbo].[socios] ([ID_SOCIO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (3, N'Mariano', N'Gomez', N'm', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 3, 1000)
SET IDENTITY_INSERT [dbo].[socios] OFF
GO
ALTER TABLE [dbo].[deportivos_equipos]  WITH CHECK ADD  CONSTRAINT [FK_id_deportivo] FOREIGN KEY([ID_DEPORTIVO])
REFERENCES [dbo].[empleadosDeportivos] ([ID_DEPORTIVO])
GO
ALTER TABLE [dbo].[deportivos_equipos] CHECK CONSTRAINT [FK_id_deportivo]
GO
ALTER TABLE [dbo].[deportivos_equipos]  WITH CHECK ADD  CONSTRAINT [FK_id_equipo] FOREIGN KEY([ID_EQUIPO])
REFERENCES [dbo].[equipos] ([ID_EQUIPO])
GO
ALTER TABLE [dbo].[deportivos_equipos] CHECK CONSTRAINT [FK_id_equipo]
GO
ALTER TABLE [dbo].[empleadosDeportivos]  WITH CHECK ADD  CONSTRAINT [FK_sexos_deportivos] FOREIGN KEY([SEXO])
REFERENCES [dbo].[sexos] ([ID_CHAR])
GO
ALTER TABLE [dbo].[empleadosDeportivos] CHECK CONSTRAINT [FK_sexos_deportivos]
GO
ALTER TABLE [dbo].[empleadosOperativos]  WITH CHECK ADD  CONSTRAINT [FK_area_operativos] FOREIGN KEY([AREA])
REFERENCES [dbo].[areas] ([ID_AREA])
GO
ALTER TABLE [dbo].[empleadosOperativos] CHECK CONSTRAINT [FK_area_operativos]
GO
ALTER TABLE [dbo].[empleadosOperativos]  WITH CHECK ADD  CONSTRAINT [FK_sexo_operativos] FOREIGN KEY([SEXO])
REFERENCES [dbo].[sexos] ([ID_CHAR])
GO
ALTER TABLE [dbo].[empleadosOperativos] CHECK CONSTRAINT [FK_sexo_operativos]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipo_categoria] FOREIGN KEY([CATEGORIA])
REFERENCES [dbo].[categorias] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipo_categoria]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipo_deporte] FOREIGN KEY([DEPORTE])
REFERENCES [dbo].[deportes] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipo_deporte]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipo_sexo] FOREIGN KEY([SEXO])
REFERENCES [dbo].[sexos] ([ID_CHAR])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipo_sexo]
GO
ALTER TABLE [dbo].[federados]  WITH CHECK ADD  CONSTRAINT [FK_categorias_federados] FOREIGN KEY([CATEGORIA])
REFERENCES [dbo].[categorias] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[federados] CHECK CONSTRAINT [FK_categorias_federados]
GO
ALTER TABLE [dbo].[federados]  WITH CHECK ADD  CONSTRAINT [FK_sexos_federados] FOREIGN KEY([SEXO])
REFERENCES [dbo].[sexos] ([ID_CHAR])
GO
ALTER TABLE [dbo].[federados] CHECK CONSTRAINT [FK_sexos_federados]
GO
ALTER TABLE [dbo].[federados_deportes]  WITH CHECK ADD  CONSTRAINT [FK_id_deportes] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[deportes] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[federados_deportes] CHECK CONSTRAINT [FK_id_deportes]
GO
ALTER TABLE [dbo].[federados_deportes]  WITH CHECK ADD  CONSTRAINT [FK_id_federados] FOREIGN KEY([ID_FEDERADO])
REFERENCES [dbo].[federados] ([ID_FEDERADO])
GO
ALTER TABLE [dbo].[federados_deportes] CHECK CONSTRAINT [FK_id_federados]
GO
ALTER TABLE [dbo].[socios]  WITH CHECK ADD  CONSTRAINT [FK_socio_categoria] FOREIGN KEY([CATEGORIA])
REFERENCES [dbo].[categorias] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[socios] CHECK CONSTRAINT [FK_socio_categoria]
GO
ALTER TABLE [dbo].[socios]  WITH CHECK ADD  CONSTRAINT [FK_socio_sexo] FOREIGN KEY([SEXO])
REFERENCES [dbo].[sexos] ([ID_CHAR])
GO
ALTER TABLE [dbo].[socios] CHECK CONSTRAINT [FK_socio_sexo]
GO
USE [master]
GO
